{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>LE Utility</h1>
    <p class="lead">SoHa Change Team runs this Beast!</p>
    <p><a href="https://www.linkedin.com/in/kellen-mcloughlin-030b115b/" class="btn btn-primary btn-large">Start Here &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>GFOz</h2>
        <p>
            GFOz initially set for wells..
        </p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/annie-truong-658156a0/">Latest Estimate &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Area/Business Unit</h2>
        <p>Choose your "Area or BU".</p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Cicada_3301">Area &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/mark-nations-510594179/">Master Developer &raquo;</a></p>
    </div>
</div>

{% endblock %}